html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  position: relative; 
}
.BoxesinaRow{
white-space: nowrap;
padding: 10px;
}
.Box{
display: inline-block;
width: 100px;
height: 150px;
background-color: #eeeff2;
border-left: 10px dotted #D0D0FF;
margin-right: 10px;
padding: 10px;
box-sizing: border-box;
vertical-align: top;
}
.Box:hover{
cursor: pointer;
background-color:yellow;
color: goldenrod;
}
.BoxF{
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-right: 0;
}